body {
  margin: 0;
  height: 100vh;
  background-color: rgb(29, 28, 31);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.section {
  width: 25vw;
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  justify-content: space-around;
}

.sub-section {
  height: 25vh;
  /* background-color: red; */
}
