.cabinet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabinet-props {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  grid-gap: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.029);
}

.cabinet-description {
  margin-top: 2%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.029);
}
